body {
    padding-inline: 0px;
    padding: 20px;
    background-color: rgb(26, 23, 23);
}
  .form-container {
    max-width: 600px;
    margin: auto;
    background-color: #a28c8c;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0px 0px 0px rgba(131, 43, 43, 0.1); 
}
